Repository dde-platform/dde-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint --fix

chore: reduce i18n languages
  examples/vite/src/index.ts
  package.json
  packages/dde-earth/src/core/layerManager.ts
  packages/dde-earth/src/i18n/index.ts
  packages/dde-earth/src/i18n/messages/ar-EG.json
  packages/dde-earth/src/i18n/messages/de-DE.json
  packages/dde-earth/src/i18n/messages/es-ES.json
  packages/dde-earth/src/i18n/messages/fr-FR.json
  packages/dde-earth/src/i18n/messages/index.ts
  packages/dde-earth/src/i18n/messages/pt-PT.json
  packages/dde-earth/src/i18n/messages/ru-RU.json
  packages/dde-earth/src/utils/util.ts
  packages/plugin-nc-loader/src/index.ts
  pnpm-lock.yaml
  shared/rollup.config.mjs
Due: prettier --cache --write

fix: layerSwitcher now can move layer correctly
  examples/vite/src/index.ts
  packages/dde-earth/src/core/PluginManager.ts
  packages/dde-earth/src/core/debug.ts
  packages/dde-earth/src/i18n/index.ts
  packages/recommend-plugins/src/plugins/layerSwitcher/LayerSwitcher.ts
Due: none

chore: version bump
  examples/vite/CHANGELOG.md
  examples/vite/package.json
  packages/dde-earth/CHANGELOG.md
  packages/dde-earth/package.json
  packages/plugin-mvt-loader/CHANGELOG.md
  packages/plugin-mvt-loader/package.json
  packages/plugin-nc-loader/CHANGELOG.md
  packages/plugin-nc-loader/package.json
  packages/plugin-tiff-loader/CHANGELOG.md
  packages/plugin-tiff-loader/package.json
  packages/recommend-plugins/CHANGELOG.md
  packages/recommend-plugins/package.json
Due: prettier --cache --write

build: remove unused test script
  package.json
  packages/dde-earth/package.json
  packages/plugin-mvt-loader/package.json
  packages/plugin-nc-loader/package.json
  packages/plugin-tiff-loader/package.json
  packages/recommend-plugins/package.json
  turbo.json
Due: prettier --cache --write

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --cache --write

Create dependabot.yml
  .github/dependabot.yml
Due: none

Delete .github/dependabot.yml
  .github/dependabot.yml
Due: none

fix: dynamic import
  examples/vite/src/index.ts
  packages/plugin-mvt-loader/src/index.ts
  packages/plugin-nc-loader/src/index.ts
  packages/plugin-tiff-loader/src/index.ts
  packages/recommend-plugins/src/plugins/layerLoaders/index.ts
Due: none

chore: patch
  examples/vite/CHANGELOG.md
  examples/vite/package.json
  packages/plugin-mvt-loader/CHANGELOG.md
  packages/plugin-mvt-loader/package.json
  packages/plugin-nc-loader/CHANGELOG.md
  packages/plugin-nc-loader/package.json
  packages/plugin-tiff-loader/CHANGELOG.md
  packages/plugin-tiff-loader/package.json
  packages/recommend-plugins/CHANGELOG.md
  packages/recommend-plugins/package.json
Due: prettier --cache --write

fix: render priority
  examples/vite/CHANGELOG.md
  examples/vite/package.json
  package.json
  packages/plugin-nc-loader/CHANGELOG.md
  packages/plugin-nc-loader/package.json
  packages/plugin-nc-loader/src/NCLayerItem.ts
  packages/plugin-tiff-loader/CHANGELOG.md
  packages/plugin-tiff-loader/package.json
  packages/plugin-tiff-loader/src/TIFFLayerItem.ts
  pnpm-lock.yaml
Due: prettier --cache --write

fix: dont render at once after init layerItem
  examples/vite/CHANGELOG.md
  examples/vite/package.json
  packages/dde-earth/CHANGELOG.md
  packages/dde-earth/package.json
  packages/dde-earth/src/core/layerItem.ts
  packages/plugin-mvt-loader/CHANGELOG.md
  packages/plugin-mvt-loader/package.json
  packages/plugin-nc-loader/CHANGELOG.md
  packages/plugin-nc-loader/package.json
  packages/plugin-tiff-loader/CHANGELOG.md
  packages/plugin-tiff-loader/package.json
  packages/plugin-tiff-loader/src/TIFFLayerItem.ts
  packages/recommend-plugins/CHANGELOG.md
  packages/recommend-plugins/package.json
  packages/recommend-plugins/src/plugins/layerSwitcher/api.ts
  pnpm-lock.yaml
Due: prettier --cache --write

fix: tiff render error
  examples/vite/CHANGELOG.md
  examples/vite/package.json
  packages/plugin-tiff-loader/CHANGELOG.md
  packages/plugin-tiff-loader/package.json
  packages/plugin-tiff-loader/src/TIFFLayerItem.ts
  pnpm-lock.yaml
Due: prettier --cache --write

fix: change layerlist when removeLayer called
  examples/vite/CHANGELOG.md
  examples/vite/package.json
  packages/dde-earth/CHANGELOG.md
  packages/dde-earth/package.json
  packages/dde-earth/src/core/layerManager.ts
  packages/plugin-mvt-loader/CHANGELOG.md
  packages/plugin-mvt-loader/package.json
  packages/plugin-nc-loader/CHANGELOG.md
  packages/plugin-nc-loader/package.json
  packages/plugin-tiff-loader/CHANGELOG.md
  packages/plugin-tiff-loader/package.json
  packages/recommend-plugins/CHANGELOG.md
  packages/recommend-plugins/package.json
Due: prettier --cache --write

feat: geojson render plugin
  examples/vite/package.json
  package.json
  packages/dde-earth/src/core/PluginManager.ts
  packages/dde-earth/src/core/layerItem.ts
  packages/dde-earth/src/core/layerManager.ts
  packages/dde-earth/src/core/plugin/basePlugin.ts
  packages/plugin-geojson-loader/package.json
  packages/plugin-geojson-loader/rollup.config.js
  packages/plugin-geojson-loader/src/GeoJsonLayerItem.ts
  packages/plugin-geojson-loader/src/GeoJsonLayerLoader.ts
  packages/plugin-geojson-loader/src/PrimitiveGeoJsonLayerItem.ts
  packages/plugin-geojson-loader/src/api.ts
  packages/plugin-geojson-loader/src/constant.ts
  packages/plugin-geojson-loader/src/func.ts
  packages/plugin-geojson-loader/src/index.ts
  packages/plugin-geojson-loader/tsconfig.json
  packages/plugin-mvt-loader/src/MVTLayerItem.ts
  packages/plugin-nc-loader/src/NCLayerItem.ts
  packages/plugin-tiff-loader/src/TIFFLayerItem.ts
  packages/recommend-plugins/src/plugins/layerLoaders/LayerLoaders.ts
  packages/recommend-plugins/src/plugins/layerLoaders/RasterLayerItem.ts
  packages/recommend-plugins/src/plugins/layerLoaders/TMSLayerItem.ts
  packages/recommend-plugins/src/plugins/layerLoaders/WMSLayerItem.ts
  packages/recommend-plugins/src/plugins/layerLoaders/WMTSLayerItem.ts
  packages/recommend-plugins/src/plugins/layerLoaders/index.ts
  packages/recommend-plugins/src/plugins/layerSwitcher/LayerSwitcher.ts
  packages/recommend-plugins/src/plugins/subscriber/Subscriber.ts
  packages/recommend-plugins/src/plugins/terrainManager/TerrainManager.ts
  packages/recommend-plugins/src/plugins/terrainManager/api.ts
  packages/recommend-plugins/src/plugins/terrainManager/index.ts
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --fix

release: bump version
  .husky/commit-msg
  README.md
  commitlint.config.ts
  examples/vite/CHANGELOG.md
  examples/vite/package.json
  package.json
  packages/dde-earth/CHANGELOG.md
  packages/dde-earth/package.json
  packages/plugin-geojson-loader/CHANGELOG.md
  packages/plugin-geojson-loader/package.json
  packages/plugin-mvt-loader/CHANGELOG.md
  packages/plugin-mvt-loader/package.json
  packages/plugin-nc-loader/CHANGELOG.md
  packages/plugin-nc-loader/package.json
  packages/plugin-tiff-loader/CHANGELOG.md
  packages/plugin-tiff-loader/package.json
  packages/recommend-plugins/CHANGELOG.md
  packages/recommend-plugins/package.json
  pnpm-lock.yaml
Due: prettier --cache --write

bump version
  .husky/commit-msg
  README.md
  commitlint.config.ts
  examples/vite/CHANGELOG.md
  examples/vite/package.json
  package.json
  packages/dde-earth/CHANGELOG.md
  packages/dde-earth/package.json
  packages/plugin-geojson-loader/CHANGELOG.md
  packages/plugin-geojson-loader/package.json
  packages/plugin-mvt-loader/CHANGELOG.md
  packages/plugin-mvt-loader/package.json
  packages/plugin-nc-loader/CHANGELOG.md
  packages/plugin-nc-loader/package.json
  packages/plugin-tiff-loader/CHANGELOG.md
  packages/plugin-tiff-loader/package.json
  packages/recommend-plugins/CHANGELOG.md
  packages/recommend-plugins/package.json
  pnpm-lock.yaml
Due: prettier --cache --write

update readme
  README.md
Due: prettier --cache --write

doc: fix nextra version
  .github/workflows/release.yml
  doc/next.config.mjs
  doc/package.json
  doc/pages/404.mdx
  doc/pages/500.mdx
  doc/pages/_app.mdx
  doc/pages/docs/getting-started.en-US.mdx
  doc/pages/docs/getting-started.zh-CN.mdx
  doc/theme.config.tsx
  pnpm-lock.yaml
Due: prettier --cache --write

fix workflow script
  .github/workflows/release.yml
Due: none

doc: add chinese translation
  doc/components/components/use-locales-map.ts
  doc/next.config.mjs
  doc/theme.config.tsx
  doc/translations/text.ts
Due: none

update dep
  .changeset/nine-mirrors-wink.md
  .github/workflows/release.yml
  packages/plugin-geojson-loader/package.json
  pnpm-lock.yaml
Due: prettier --cache --write

update lock file
  pnpm-lock.yaml
Due: none

fix: rename with lowercase
  packages/dde-earth/src/core/earth.ts
  packages/dde-earth/src/core/pluginManager.ts
Due: none

update release.yml
  .github/workflows/release.yml
Due: none

new release workflow
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

github token
  .github/workflows/release.yml
Due: none

test release
  .github/workflows/release.yml
  package.json
Due: prettier --cache --write

fix install
  .github/workflows/release.yml
Due: none

Node version downgrade
  .github/workflows/test.yml
Due: none

use gh-token
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

use github token
  .github/workflows/release.yml
Due: none

add auto assign yml
  .github/workflows/auto-assign.yml
Due: none

add arcgis layerItem
  .changeset/shiny-readers-tan.md
  doc/components/use-locales-map.ts
  doc/theme.config.tsx
  examples/vite/index.html
  examples/vite/src/index.ts
  packages/dde-earth/src/core/layerManager.ts
  packages/recommend-plugins/src/plugins/layerLoaders/ArcGisLayerItem.ts
  packages/recommend-plugins/src/plugins/layerLoaders/LayerLoaders.ts
Due: prettier --cache --write

change default viewer constructor options
  .changeset/wild-toes-tickle.md
  doc/translations/text.ts
  packages/dde-earth/src/core/earth.ts
Due: prettier --cache --write

docs: write readme
  README.md
  doc/components/Features.module.css
  doc/components/Features.tsx
  doc/components/Icons.tsx
  doc/pages/index.en-US.mdx
  doc/pages/index.zh-CN.mdx
  doc/tailwind.config.js
  doc/translations/text.ts
  examples/vite/src/index.ts
Due: prettier --cache --write, eslint --fix

SymbolicLink readme
  README.md
  packages/dde-earth/README.md
Due: prettier --cache --write

Update README.md
  README.md
Due: prettier --cache --write

update readme
  packages/dde-earth/README.md
Due: prettier --cache --write

refactor layerItem interface, add some layer subscription events
  .changeset/slimy-parents-hang.md
  doc/pages/docs/getting-started.en-US.mdx
  doc/pages/docs/getting-started.zh-CN.mdx
  doc/pages/index.en-US.mdx
  doc/pages/index.zh-CN.mdx
  examples/vite/public/demo.nc
  examples/vite/src/index.ts
  package.json
  packages/dde-earth/README.md
  packages/dde-earth/src/core/earth.ts
  packages/dde-earth/src/core/layerItem.ts
  packages/dde-earth/src/core/layerManager.ts
  packages/plugin-geojson-loader/src/GeoJsonLayerItem.ts
  packages/plugin-geojson-loader/src/PrimitiveGeoJsonLayerItem.ts
  packages/plugin-mvt-loader/src/MVTLayerItem.ts
  packages/plugin-nc-loader/src/NCLayerItem.ts
  packages/plugin-tiff-loader/src/TIFFLayerItem.ts
  packages/recommend-plugins/src/plugins/layerLoaders/ArcGisLayerItem.ts
  packages/recommend-plugins/src/plugins/layerLoaders/RasterLayerItem.ts
  packages/recommend-plugins/src/plugins/layerLoaders/TMSLayerItem.ts
  packages/recommend-plugins/src/plugins/layerLoaders/WMSLayerItem.ts
  packages/recommend-plugins/src/plugins/layerLoaders/WMTSLayerItem.ts
Due: prettier --cache --write

Path conditions:
  prettier --cache --write: (any of: *.{md,json}) or (any of: *.{js,jsx})
  eslint --fix: any of: *.{js,jsx}
