Repository dde-platform/dde-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint --fix

.lintstagedrc:

{
  "*.{md,json}": [
    "prettier --cache --write"
  ],
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --cache --write"
  ],
  "*.ts?(x)": [
    "eslint --fix",
    "prettier --cache --parser=typescript --write"
  ]
}

bump version
  .changeset/slimy-parents-hang.md
  examples/vite/CHANGELOG.md
  examples/vite/package.json
  package.json
  packages/dde-earth/CHANGELOG.md
  packages/dde-earth/package.json
  packages/plugin-geojson-loader/CHANGELOG.md
  packages/plugin-geojson-loader/package.json
  packages/plugin-mvt-loader/CHANGELOG.md
  packages/plugin-mvt-loader/package.json
  packages/plugin-nc-loader/CHANGELOG.md
  packages/plugin-nc-loader/package.json
  packages/plugin-tiff-loader/CHANGELOG.md
  packages/plugin-tiff-loader/package.json
  packages/recommend-plugins/CHANGELOG.md
  packages/recommend-plugins/package.json
Due: prettier --cache --write

fix: terrainManager
  .changeset/cold-paws-double.md
  .changeset/smooth-llamas-sleep.md
  packages/dde-earth/src/core/index.ts
  packages/dde-earth/src/core/terrainManager.ts
  packages/plugin-tiff-loader/package.json
  packages/recommend-plugins/src/plugins/layerSwitcher/api.ts
  pnpm-lock.yaml
Due: prettier --cache --write

feat: plugin-martini-terrain-loader
  examples/vite/package.json
  examples/vite/src/index.ts
  packages/plugin-martini-terrain-loader/package.json
  packages/plugin-martini-terrain-loader/rollup.config.js
  packages/plugin-martini-terrain-loader/src/api.ts
  packages/plugin-martini-terrain-loader/src/index.ts
  packages/plugin-martini-terrain-loader/tsconfig.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --fix

bump version
  .changeset/cold-paws-double.md
  .changeset/smooth-llamas-sleep.md
  examples/vite/CHANGELOG.md
  examples/vite/package.json
  packages/dde-earth/CHANGELOG.md
  packages/dde-earth/package.json
  packages/plugin-geojson-loader/CHANGELOG.md
  packages/plugin-geojson-loader/package.json
  packages/plugin-martini-terrain-loader/CHANGELOG.md
  packages/plugin-martini-terrain-loader/package.json
  packages/plugin-mvt-loader/CHANGELOG.md
  packages/plugin-mvt-loader/package.json
  packages/plugin-nc-loader/CHANGELOG.md
  packages/plugin-nc-loader/package.json
  packages/plugin-tiff-loader/CHANGELOG.md
  packages/plugin-tiff-loader/package.json
  packages/recommend-plugins/CHANGELOG.md
  packages/recommend-plugins/package.json
Due: prettier --cache --write

fix: handle plugins option
  examples/vite/CHANGELOG.md
  examples/vite/package.json
  examples/vite/src/index.ts
  packages/dde-earth/CHANGELOG.md
  packages/dde-earth/package.json
  packages/dde-earth/src/core/earth.ts
  packages/plugin-geojson-loader/CHANGELOG.md
  packages/plugin-geojson-loader/package.json
  packages/plugin-martini-terrain-loader/CHANGELOG.md
  packages/plugin-martini-terrain-loader/package.json
  packages/plugin-mvt-loader/CHANGELOG.md
  packages/plugin-mvt-loader/package.json
  packages/plugin-nc-loader/CHANGELOG.md
  packages/plugin-nc-loader/package.json
  packages/plugin-tiff-loader/CHANGELOG.md
  packages/plugin-tiff-loader/package.json
  packages/recommend-plugins/CHANGELOG.md
  packages/recommend-plugins/package.json
Due: prettier --cache --write

add plugin-feature-click
  examples/vite/CHANGELOG.md
  examples/vite/package.json
  packages/dde-earth/CHANGELOG.md
  packages/dde-earth/src/core/index.ts
  packages/plugin-feature-click/CHANGELOG.md
  packages/plugin-feature-click/package.json
  packages/plugin-feature-click/rollup.config.js
  packages/plugin-feature-click/src/api.ts
  packages/plugin-feature-click/src/index.ts
  packages/plugin-feature-click/tsconfig.json
  packages/plugin-geojson-loader/CHANGELOG.md
  packages/plugin-geojson-loader/package.json
  packages/plugin-martini-terrain-loader/CHANGELOG.md
  packages/plugin-martini-terrain-loader/package.json
  packages/plugin-mvt-loader/CHANGELOG.md
  packages/plugin-mvt-loader/package.json
  packages/plugin-nc-loader/CHANGELOG.md
  packages/plugin-nc-loader/package.json
  packages/plugin-tiff-loader/CHANGELOG.md
  packages/plugin-tiff-loader/package.json
  packages/recommend-plugins/CHANGELOG.md
  packages/recommend-plugins/package.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --fix

fix: fix nc render error
  packages/plugin-nc-loader/src/NCLayerItem.ts
Due: none

bump version
  examples/vite/CHANGELOG.md
  examples/vite/package.json
  packages/plugin-nc-loader/CHANGELOG.md
  packages/plugin-nc-loader/package.json
Due: prettier --cache --write

lint fix
  .npmrc
  pnpm-lock.yaml
Due: none

fix: update dep
  packages/plugin-tiff-loader/package.json
  pnpm-lock.yaml
Due: prettier --cache --write

chore: update deps
  examples/vite/CHANGELOG.md
  examples/vite/package.json
  packages/plugin-tiff-loader/CHANGELOG.md
  packages/plugin-tiff-loader/package.json
Due: prettier --cache --write

fix: compatible primitive geojson
  packages/plugin-geojson-loader/package.json
  packages/plugin-geojson-loader/src/PrimitiveGeoJsonLayerItem.ts
  pnpm-lock.yaml
Due: prettier --cache --write

chore: bump version
  .changeset/rude-mangos-hammer.md
Due: prettier --cache --write

fix: geojson render novalue error
  .changeset/ninety-baboons-divide.md
  packages/plugin-geojson-loader/package.json
  pnpm-lock.yaml
Due: prettier --cache --write

bump version
  .changeset/ninety-baboons-divide.md
  packages/plugin-geojson-loader/CHANGELOG.md
  packages/plugin-geojson-loader/package.json
Due: prettier --cache --write

feat: init add navigator plugin
  packages/plugin-navigator/README.md
  packages/plugin-navigator/package.json
  packages/plugin-navigator/rollup.config.js
  packages/plugin-navigator/src/Compass.ts
  packages/plugin-navigator/src/Navigator.ts
  packages/plugin-navigator/src/Widget.ts
  packages/plugin-navigator/src/icons/compass-inner.ts
  packages/plugin-navigator/src/icons/compass-outer.ts
  packages/plugin-navigator/src/icons/compass-rotation-marker.ts
  packages/plugin-navigator/src/icons/index.ts
  packages/plugin-navigator/src/index.ts
  packages/plugin-navigator/src/styles/StyleManager.ts
  packages/plugin-navigator/src/theme/index.ts
  packages/plugin-navigator/src/utils/DomUtil.ts
  packages/plugin-navigator/src/utils/index.ts
  packages/plugin-navigator/tsconfig.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --fix

chore: update eslint
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat: intergrate ZoomController to the plugin, change svg color, optimize theme selection;
  packages/plugin-navigator/package.json
  packages/plugin-navigator/src/Navigator.ts
  packages/plugin-navigator/src/ZoomController.ts
  packages/plugin-navigator/src/icons/controller-decrease.ts
  packages/plugin-navigator/src/icons/controller-increase.ts
  packages/plugin-navigator/src/icons/controller-refresh.ts
  packages/plugin-navigator/src/icons/index.ts
  packages/plugin-navigator/src/index.ts
  packages/plugin-navigator/src/styles/StyleManager.ts
  packages/plugin-navigator/src/theme/index.ts
Due: prettier --cache --write

feat: remove useless blur filter
  packages/plugin-navigator/src/styles/StyleManager.ts
Due: none

chore: update eslint version
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --write

feat: export usefull geojson functions
  packages/plugin-geojson-loader/src/index.ts
Due: none

feat: add Amap layer loader
  package.json
  packages/plugin-amap-loader/package.json
  packages/plugin-amap-loader/rollup.config.js
  packages/plugin-amap-loader/src/AmapLayerItem.ts
  packages/plugin-amap-loader/src/AmapLayerLoader.ts
  packages/plugin-amap-loader/src/AmapMercatorTilingScheme.ts
  packages/plugin-amap-loader/src/CoordTransform.ts
  packages/plugin-amap-loader/src/api.ts
  packages/plugin-amap-loader/src/constant.ts
  packages/plugin-amap-loader/src/index.ts
  packages/plugin-amap-loader/tsconfig.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --fix

feat: adjust default earth options
  packages/dde-earth/src/core/earth.ts
Due: none

feat: add plugin-graticule package
  package.json
  packages/plugin-graticule/README.md
  packages/plugin-graticule/package.json
  packages/plugin-graticule/rollup.config.js
  packages/plugin-graticule/src/index.ts
  packages/plugin-graticule/src/plugin-graticule.ts
  packages/plugin-graticule/tsconfig.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --fix

feat: add globe rotation plugin
  packages/plugin-globe-rotation/README.md
  packages/plugin-globe-rotation/package.json
  packages/plugin-globe-rotation/rollup.config.js
  packages/plugin-globe-rotation/src/index.ts
  packages/plugin-globe-rotation/src/plugin-globe-rotation.ts
  packages/plugin-globe-rotation/tsconfig.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --fix

doc: add README file for plugin-graticule
  packages/plugin-graticule/README.md
Due: prettier --cache --write

chore: change turbo dev config
  package.json
Due: prettier --cache --write

feat: init add earth-measure plugin
  package.json
  packages/plugin-earth-measure/README.md
  packages/plugin-earth-measure/package.json
  packages/plugin-earth-measure/rollup.config.js
  packages/plugin-earth-measure/src/config/index.ts
  packages/plugin-earth-measure/src/index.ts
  packages/plugin-earth-measure/src/plugin-earth-measure.ts
  packages/plugin-earth-measure/src/types/index.ts
  packages/plugin-earth-measure/tsconfig.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --fix

chore: add concurrency to 50
  package.json
Due: prettier --cache --write

fix: fix ts error
  packages/dde-earth/src/core/earth.ts
Due: none

feat: add geotimescale plugin
  packages/plugin-geo-timescale/package.json
  packages/plugin-geo-timescale/rollup.config.js
  packages/plugin-geo-timescale/src/GeoTimescalePlugin.ts
  packages/plugin-geo-timescale/src/TimelineRenderer.ts
  packages/plugin-geo-timescale/src/data/GTS_2020_simple.json
  packages/plugin-geo-timescale/src/data/index.ts
  packages/plugin-geo-timescale/src/index.ts
  packages/plugin-geo-timescale/src/styles.ts
  packages/plugin-geo-timescale/src/types.ts
  packages/plugin-geo-timescale/tsconfig.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --fix

feat: init swipe
  packages/plugin-swipe/rollup.config.js
Due: prettier --cache --write, eslint --fix

feat: add base map and terrain
  packages/recommend-plugins/src/plugins/layerLoaders/LayerLoaders.ts
  packages/recommend-plugins/src/plugins/layerLoaders/PICLayerItem.ts
  packages/recommend-plugins/src/plugins/layerLoaders/index.ts
Due: none

feat: swipe index archieved
  packages/plugin-swipe/package.json
  packages/plugin-swipe/src/index.ts
  packages/plugin-swipe/tsconfig.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: fix rollup config
  packages/plugin-swipe/rollup.config.js
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --fix

fix: fix cesium version
  packages/plugin-earth-measure/package.json
  pnpm-lock.yaml
Due: prettier --cache --write

fix: optmize import
  packages/plugin-swipe/src/index.ts
Due: none

feat: init add plugin-drawer
  .eslintrc.cjs
  .husky/pre-commit
  examples/vite/index.html
  packages/plugin-drawer/README.md
  packages/plugin-drawer/README.zh-CN.md
  packages/plugin-drawer/package.json
  packages/plugin-drawer/rollup.config.js
  packages/plugin-drawer/src/Drawer.ts
  packages/plugin-drawer/src/config/index.ts
  packages/plugin-drawer/src/drawers/BaseDrawer.ts
  packages/plugin-drawer/src/drawers/CircleDrawer.ts
  packages/plugin-drawer/src/drawers/PointDrawer.ts
  packages/plugin-drawer/src/drawers/PolygonDrawer.ts
  packages/plugin-drawer/src/drawers/PolylineDrawer.ts
  packages/plugin-drawer/src/drawers/RectangleDrawer.ts
  packages/plugin-drawer/src/drawers/index.ts
  packages/plugin-drawer/src/index.ts
  packages/plugin-drawer/src/types/index.ts
  packages/plugin-drawer/tsconfig.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --fix

chore: update eslint config
  .eslintrc.cjs
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat: revert version
  packages/plugin-drawer/src/Drawer.ts
  packages/plugin-drawer/src/drawers/BaseDrawer.ts
  packages/plugin-drawer/src/drawers/CircleDrawer.ts
  packages/plugin-drawer/src/drawers/PointDrawer.ts
  packages/plugin-drawer/src/drawers/PolygonDrawer.ts
  packages/plugin-drawer/src/drawers/PolylineDrawer.ts
  packages/plugin-drawer/src/drawers/RectangleDrawer.ts
Due: none
