Repository dde-platform/dde-earth: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint --fix

build: reduce files
  .eslintrc.cjs
  .lintstagedrc
  .npmrc
  commitlint.config.js
  commitlint.config.ts
  package.json
  packages/core/package.json
  pnpm-lock.yaml
  tsconfig.eslint.json
Due: prettier --cache --write, eslint --fix

build: add nextra
  .eslintrc.cjs
  .gitignore
  doc/middleware.ts
  doc/next-env.d.ts
  doc/next.config.mjs
  doc/package.json
  doc/pages/_app.mdx
  doc/pages/_document.js
  doc/pages/_meta.en-US.json
  doc/pages/_meta.zh-CN.json
  doc/pages/docs/_meta.en-US.json
  doc/pages/docs/_meta.zh-CN.json
  doc/pages/docs/getting-started.en-US.mdx
  doc/pages/docs/getting-started.zh-CN.mdx
  doc/pages/index.en-US.mdx
  doc/pages/index.zh-CN.mdx
  doc/postcss.config.js
  doc/styles.css
  doc/tailwind.config.js
  doc/theme.config.tsx
  doc/tsconfig.json
  package.json
  packages/dde-earth/package.json
  packages/dde-earth/rollup.config.js
  packages/dde-earth/src/a.ts
  packages/dde-earth/src/index.ts
  packages/dde-earth/test/test.test.ts
  packages/dde-earth/tsconfig.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --fix

feat: earth & plugin framework
  .eslintrc.cjs
  config/rollup.config.mjs
  examples/vite/index.html
  examples/vite/package.json
  examples/vite/src/index.css
  examples/vite/src/index.ts
  examples/vite/tsconfig.json
  examples/vite/vite.config.js
  package.json
  packages/dde-earth/package.json
  packages/dde-earth/rollup.config.js
  packages/dde-earth/src/a.ts
  packages/dde-earth/src/config/index.ts
  packages/dde-earth/src/core/Earth.ts
  packages/dde-earth/src/core/PluginManager.ts
  packages/dde-earth/src/core/index.ts
  packages/dde-earth/src/index.ts
  packages/dde-earth/src/typings/index.ts
  packages/dde-earth/src/utils/ts.ts
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --fix

feat: event framework
  config/rollup.config.mjs
  examples/vite/package.json
  examples/vite/src/index.ts
  package.json
  packages/dde-earth/src/core/Earth.ts
  packages/dde-earth/src/core/PluginManager.ts
  packages/dde-earth/src/core/event.ts
  packages/dde-earth/src/core/index.ts
  packages/dde-earth/src/core/plugin.ts
  packages/dde-earth/src/index.ts
  packages/dde-earth/src/plugins/Subscriber/index.ts
  packages/dde-earth/src/typings/index.ts
  packages/dde-earth/src/utils/index.ts
  packages/dde-earth/src/utils/types.ts
  packages/dde-earth/src/utils/util.ts
  packages/plugin-subscriber/package.json
  packages/plugin-subscriber/rollup.config.js
  packages/plugin-subscriber/src/api.ts
  packages/plugin-subscriber/src/index.ts
  packages/plugin-subscriber/tsconfig.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --fix

refactor: eventPlugin
  examples/vite/package.json
  examples/vite/src/index.ts
  packages/dde-earth/src/core/Earth.ts
  packages/dde-earth/src/core/PluginManager.ts
  packages/dde-earth/src/core/event.ts
  packages/dde-earth/src/core/index.ts
  packages/dde-earth/src/core/plugin.ts
  packages/dde-earth/src/plugins/Subscriber/index.ts
  packages/dde-earth/src/utils/util.ts
  packages/plugin-subscriber/src/api.ts
  packages/plugin-subscriber/src/index.ts
  packages/recommend-plugins/package.json
  packages/recommend-plugins/rollup.config.js
  packages/recommend-plugins/src/index.ts
  packages/recommend-plugins/src/plugins/subscriber/api.ts
  packages/recommend-plugins/src/plugins/subscriber/index.ts
  packages/recommend-plugins/src/utils/index.ts
  packages/recommend-plugins/src/utils/util.ts
  packages/recommend-plugins/tsconfig.json
  pnpm-lock.yaml
Due: prettier --cache --write, eslint --fix

feat: intl framework
  config/rollup.config.mjs
  examples/vite/index.html
  examples/vite/public/logo.png
  examples/vite/src/index.ts
  package.json
  packages/dde-earth/src/core/Earth.ts
  packages/dde-earth/src/core/plugin.ts
  packages/dde-earth/src/i18n/index.ts
  packages/dde-earth/src/i18n/messages/en-US.json
  packages/dde-earth/src/i18n/messages/zh-CN.json
  packages/dde-earth/src/index.ts
  packages/dde-earth/src/utils/types.ts
  packages/dde-earth/src/utils/util.ts
  packages/dde-earth/test/i18n.test.ts
  packages/dde-earth/test/test.test.ts
  packages/dde-earth/tsconfig.json
  packages/recommend-plugins/src/plugins/subscriber/index.ts
  packages/recommend-plugins/tsconfig.json
  pnpm-lock.yaml
Due: prettier --cache --write

feat(intl): add 6 more languages
  packages/dde-earth/src/core/Earth.ts
  packages/dde-earth/src/core/layerManager.ts
  packages/dde-earth/src/i18n/index.ts
  packages/dde-earth/src/i18n/messages/ar-EG.json
  packages/dde-earth/src/i18n/messages/de-DE.json
  packages/dde-earth/src/i18n/messages/es-ES.json
  packages/dde-earth/src/i18n/messages/fr-FR.json
  packages/dde-earth/src/i18n/messages/index.ts
  packages/dde-earth/src/i18n/messages/pt-PT.json
  packages/dde-earth/src/i18n/messages/ru-RU.json
  packages/dde-earth/src/utils/types.ts
  packages/dde-earth/test/i18n.test.ts
Due: prettier --cache --write

feat: layer framework
  packages/dde-earth/src/core/Earth.ts
  packages/dde-earth/src/core/PluginManager.ts
  packages/dde-earth/src/core/layerItem.ts
  packages/dde-earth/src/core/layerManager.ts
  packages/dde-earth/src/core/plugin/basePlugin.ts
  packages/dde-earth/src/core/plugin/index.ts
  packages/dde-earth/src/core/plugin/layerPlugin.ts
  packages/dde-earth/src/core/plugin/withEventPlugin.ts
  packages/dde-earth/src/utils/util.ts
  packages/recommend-plugins/src/plugins/subscriber/index.ts
Due: none

fix: layerManager remove method
  packages/dde-earth/src/core/Earth.ts
  packages/dde-earth/src/core/PluginManager.ts
  packages/dde-earth/src/core/layerManager.ts
Due: none

refactor: layer manager framework
  packages/dde-earth/src/core/Earth.ts
  packages/dde-earth/src/core/PluginManager.ts
  packages/dde-earth/src/core/event.ts
  packages/dde-earth/src/core/layerItem.ts
  packages/dde-earth/src/core/layerManager.ts
  packages/dde-earth/src/core/plugin/index.ts
  packages/dde-earth/src/core/plugin/layerPlugin.ts
Due: none

feat(plugin): layerLoaders plugin
  config/rollup.config.mjs
  examples/vite/src/index.ts
  packages/dde-earth/src/core/Earth.ts
  packages/dde-earth/src/core/index.ts
  packages/dde-earth/src/core/layerItem.ts
  packages/dde-earth/src/core/layerManager.ts
  packages/dde-earth/src/core/plugin/basePlugin.ts
  packages/recommend-plugins/src/index.ts
  packages/recommend-plugins/src/plugins/layerLoaders/RasterLayerItem.ts
  packages/recommend-plugins/src/plugins/layerLoaders/WMSLayerItem.ts
  packages/recommend-plugins/src/plugins/layerLoaders/api.ts
  packages/recommend-plugins/src/plugins/layerLoaders/index.ts
  packages/recommend-plugins/src/plugins/subscriber/index.ts
Due: none

feat(plugin): subscriber prototype
  examples/vite/src/index.ts
  packages/dde-earth/src/core/PluginManager.ts
  packages/recommend-plugins/src/plugins/layerLoaders/api.ts
  packages/recommend-plugins/src/plugins/subscriber/api.ts
Due: none

fix: intl ts define error
  .eslintrc.cjs
  examples/vite/src/index.ts
  packages/dde-earth/src/core/plugin/basePlugin.ts
  packages/dde-earth/src/i18n/index.ts
  packages/dde-earth/src/utils/types.ts
  packages/recommend-plugins/src/plugins/layerLoaders/api.ts
  packages/recommend-plugins/src/plugins/subscriber/Subscriber.ts
  packages/recommend-plugins/src/plugins/subscriber/api.ts
  packages/recommend-plugins/src/plugins/subscriber/index.ts
Due: none

fix: plugin name replace (default to class name)
  packages/dde-earth/src/core/plugin/basePlugin.ts
  packages/recommend-plugins/src/plugins/layerLoaders/index.ts
  packages/recommend-plugins/src/plugins/subscriber/Subscriber.ts
Due: none

feat: layer loader add defaultRenderOptions
  examples/vite/src/index.ts
  packages/dde-earth/src/core/layerItem.ts
  packages/dde-earth/src/core/plugin/UIPlugin.ts
  packages/dde-earth/src/core/plugin/withEventPlugin.ts
  packages/dde-earth/src/i18n/index.ts
  packages/dde-earth/src/utils/util.ts
  packages/recommend-plugins/src/plugins/layerLoaders/RasterLayerItem.ts
  packages/recommend-plugins/src/plugins/layerLoaders/api.ts
  packages/recommend-plugins/src/plugins/layerLoaders/index.ts
Due: none

feat: debug console
  examples/vite/src/index.css
  examples/vite/src/index.ts
  packages/dde-earth/src/core/PluginManager.ts
  packages/dde-earth/src/core/debug.ts
  packages/dde-earth/src/core/index.ts
  packages/dde-earth/src/i18n/index.ts
  packages/dde-earth/src/utils/util.ts
  packages/recommend-plugins/src/plugins/subscriber/api.ts
Due: none

refactor: deepMerge func
  packages/dde-earth/src/utils/util.ts
  packages/dde-earth/test/util.test.ts
  packages/plugin-tiff-loader/src/index.ts
  packages/recommend-plugins/src/plugins/layerLoaders/index.ts
Due: none

refactor: improve module dynamic import
  .eslintrc.cjs
  .prettierrc
  doc/styles.css
  examples/vite/index.html
  examples/vite/package.json
  examples/vite/src/index.css
  examples/vite/src/index.ts
  package.json
  packages/dde-earth/src/core/Earth.ts
  packages/dde-earth/src/core/PluginManager.ts
  packages/dde-earth/src/core/event.ts
  packages/dde-earth/src/core/layerItem.ts
  packages/dde-earth/src/core/layerManager.ts
  packages/dde-earth/src/core/plugin/basePlugin.ts
  packages/dde-earth/src/core/plugin/index.ts
  packages/dde-earth/src/i18n/index.ts
  packages/plugin-tiff-loader/src/TIFFLayerItem.ts
  packages/plugin-tiff-loader/src/api.ts
  packages/plugin-tiff-loader/src/constant.ts
  packages/plugin-tiff-loader/src/index.ts
  packages/recommend-plugins/src/plugins/layerLoaders/RasterLayerItem.ts
  packages/recommend-plugins/src/plugins/layerLoaders/WMSLayerItem.ts
  packages/recommend-plugins/src/plugins/layerLoaders/api.ts
  packages/recommend-plugins/src/plugins/layerLoaders/constant.ts
  packages/recommend-plugins/src/plugins/layerLoaders/index.ts
  packages/recommend-plugins/src/plugins/subscriber/Subscriber.ts
  pnpm-lock.yaml
Due: prettier --cache --write

build: remove plugin's umd bundle 1. fix: throw error when loader method dont added 2. fix[plugin-tiff-loader]: tiff basic render dont work
  .eslintrc.cjs
  .prettierrc
  config/rollup.config.mjs
  examples/vanilla/index.html
  examples/vite/src/index.ts
  package.json
  packages/dde-earth/rollup.config.js
  packages/dde-earth/src/core/layerManager.ts
  packages/plugin-tiff-loader/package.json
  packages/plugin-tiff-loader/rollup.config.js
  packages/plugin-tiff-loader/src/TIFFLayerItem.ts
  packages/recommend-plugins/package.json
  packages/recommend-plugins/rollup.config.js
  pnpm-lock.yaml
  shared/rollup.config.mjs
Due: prettier --cache --write, eslint --fix

fix: rollup config error
  pnpm-lock.yaml
  shared/rollup.config.mjs
Due: none

feat: add LayerSwitcher
  examples/vite/src/index.ts
  packages/dde-earth/src/core/Earth.ts
  packages/dde-earth/src/core/PluginManager.ts
  packages/dde-earth/src/core/plugin/basePlugin.ts
  packages/plugin-tiff-loader/src/TIFFLayerItem.ts
  packages/plugin-tiff-loader/src/TIFFLayerLoader.ts
  packages/plugin-tiff-loader/src/index.ts
  packages/recommend-plugins/src/index.ts
  packages/recommend-plugins/src/plugins/layerLoaders/LayerLoaders.ts
  packages/recommend-plugins/src/plugins/layerLoaders/index.ts
  packages/recommend-plugins/src/plugins/layerSwitcher/LayerSwitcher.ts
  packages/recommend-plugins/src/plugins/layerSwitcher/api.ts
  packages/recommend-plugins/src/plugins/layerSwitcher/index.ts
  packages/recommend-plugins/src/plugins/subscriber/Subscriber.ts
  pnpm-lock.yaml
  shared/rollup.config.mjs
Due: none

refactor: @dde-earth/plugin-mvt-loader
  examples/vite/public/style.json
  packages/plugin-mvt-loader/package.json
  packages/plugin-mvt-loader/rollup.config.js
  packages/plugin-mvt-loader/src/MVTLayerItem.ts
  packages/plugin-mvt-loader/src/MVTLayerLoader.ts
  packages/plugin-mvt-loader/src/api.ts
  packages/plugin-mvt-loader/src/constant.ts
  packages/plugin-mvt-loader/src/index.ts
  packages/plugin-mvt-loader/tsconfig.json
Due: prettier --cache --write, eslint --fix

test: add mvt test data and test code in demo
  examples/vite/package.json
  examples/vite/src/index.ts
Due: prettier --cache --write

feat: initially add nc-loader plugin
  packages/plugin-nc-loader/package.json
  packages/plugin-nc-loader/rollup.config.js
  packages/plugin-nc-loader/src/NCLayerItem.ts
  packages/plugin-nc-loader/src/api.ts
  packages/plugin-nc-loader/src/constant.ts
  packages/plugin-nc-loader/src/index.ts
  packages/plugin-nc-loader/tsconfig.json
Due: prettier --cache --write, eslint --fix

feat: add plugin-nc-loader
  pnpm-lock.yaml
Due: none

feat: add test for plugin-nc-loader
  examples/vite/index.html
  examples/vite/package.json
  examples/vite/src/index.ts
Due: prettier --cache --write

feat: add demo.nc as example
  examples/vite/public/demo.nc
Due: none

feat: renew the nc plugin as the new format
  examples/vite/src/index.ts
  packages/plugin-nc-loader/src/NCLayerItem.ts
  packages/plugin-nc-loader/src/NCLayerLoader.ts
  packages/plugin-nc-loader/src/index.ts
Due: none

feat: optimize the default render options
  packages/plugin-nc-loader/src/NCLayerItem.ts
Due: none

feat: optimize the example of nc layer
  examples/vite/index.html
  examples/vite/src/index.ts
Due: none

feat: optimize the render functions and options
  packages/plugin-nc-loader/src/NCLayerItem.ts
  packages/plugin-nc-loader/src/constant.ts
Due: none

feat: optimize the nc example
  examples/vite/src/index.ts
Due: none

fix: fix the show function and loading process
  packages/plugin-nc-loader/src/NCLayerItem.ts
Due: none

feat: optimize the example of nc loader
  examples/vite/index.html
  examples/vite/src/index.ts
Due: none

feat: terrain manager
  .editorconfig
  .prettierrc
  doc/pages/_app.mdx
  doc/pages/docs/getting-started.en-US.mdx
  doc/pages/docs/getting-started.zh-CN.mdx
  doc/pages/index.en-US.mdx
  doc/pages/index.zh-CN.mdx
  examples/vite/src/index.ts
  package.json
  packages/dde-earth/package.json
  packages/dde-earth/src/core/Earth.ts
  packages/dde-earth/src/core/layerManager.ts
  packages/dde-earth/src/core/plugin/UIPlugin.ts
  packages/dde-earth/src/core/terrainManager.ts
  packages/recommend-plugins/src/plugins/layerSwitcher/LayerSwitcher.ts
  packages/recommend-plugins/src/plugins/terrainManager/TerrainManager.ts
  packages/recommend-plugins/src/plugins/terrainManager/api.ts
  packages/recommend-plugins/src/plugins/terrainManager/index.ts
  pnpm-lock.yaml
  shared/rollup.config.mjs
Due: prettier --cache --write

feat: enable to load nc files by url
  packages/plugin-nc-loader/src/NCLayerItem.ts
Due: none

fix: pnpm-lock auto change when install
  pnpm-lock.yaml
Due: none

chore: export LayerItem
  packages/plugin-mvt-loader/src/index.ts
  packages/plugin-tiff-loader/src/index.ts
  packages/recommend-plugins/src/plugins/layerLoaders/index.ts
Due: none

Path conditions:
  prettier --cache --write: (any of: *.{md,json}) or (any of: *.{js,jsx})
  eslint --fix: any of: *.{js,jsx}
